name: Docker
on:
  workflow_dispatch:
    branches:
      - 'main'
jobs:
  docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        variant: ["11.7.0", "11.6.2"]
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Build and push variant ${{ matrix.variant }}
        uses: docker/build-push-action@v3
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          tags: sleeepyjack/cuda_dev:${{ matrix.variant }}
          build-args: |
            "ANSIBLE_VAULT_PASSWORD=${{ secrets.ANSIBLE_VAULT_PASSWORD }}"
            "VARIANT=${{ matrix.variant }}"
            "WAKATIME_API_KEY=${{ secrets.WAKATIME_API_KEY }}"